.disabled {
    display: none;
}

#fulfilled {
    display: flex;
    flex-direction: column-reverse;
}

.linkCopyPopUp {
    position: absolute;
    top: 2vh;
    left: 50vw;
    transform: translate(-50%);

    border: 1px solid;
    padding: 2rem;
    background-color: white;
}